-- id                               int                              错误码
-- macro                            string                           宏定义
-- module                           string                           模块名
-- tips                             string                           提示内容

return {
	[0] = {
		id = 0,
		macro = "SUCCESS",
		module = "common",
		tips = "成功",
	},
	[1] = {
		id = 1,
		macro = "COM_SYS_FAIL",
		module = "common",
		tips = "系统错误",
	},
	[2] = {
		id = 2,
		macro = "COM_NOT_SUPPORT_PROTO",
		module = "common",
		tips = "不支持的协议",
	},
	[10] = {
		id = 10,
		macro = "COM_WEB_CFG_MISS",
		module = "common",
		tips = "web配置丢失",
	},
	[11] = {
		id = 11,
		macro = "COM_SEND_WEB_FAIL",
		module = "common",
		tips = "发送web消息失败",
	},
	[12] = {
		id = 12,
		macro = "COM_PARSE_JSON_FAIL",
		module = "common",
		tips = "解析json失败",
	},
	[14] = {
		id = 14,
		macro = "COM_CFG_MISS",
		module = "common",
		tips = "配置错误",
	},
	[100] = {
		id = 100,
		macro = "ITEM_BAG_NOT_EXISTS",
		module = "item",
		tips = "背包不存在",
	},
	[101] = {
		id = 101,
		macro = "ITEM_BAG_FULL",
		module = "item",
		tips = "背包已满",
	},
	[102] = {
		id = 102,
		macro = "ITEM_PARAM_ERR",
		module = "item",
		tips = "参数错误",
	},
	[103] = {
		id = 103,
		macro = "ITEM_COIN_TYPE_ERR",
		module = "item",
		tips = "非货币类型",
	},
	[104] = {
		id = 104,
		macro = "ITEM_COIN_LACK",
		module = "item",
		tips = "金币不足",
	},
	[105] = {
		id = 105,
		macro = "ITEM_GOLD_LACK",
		module = "item",
		tips = "黄金不足",
	},
	[106] = {
		id = 106,
		macro = "ITEM_DIAMOND_LACK",
		module = "item",
		tips = "钻石不足",
	},
	[107] = {
		id = 107,
		macro = "ITEM_LACK",
		module = "item",
		tips = "道具不足",
	},
	[108] = {
		id = 108,
		macro = "ITEM_NOT_EXISTS",
		module = "item",
		tips = "道具不存在",
	},
	[109] = {
		id = 109,
		macro = "ITEM_MAX_CNT_LIMIT",
		module = "item",
		tips = "道具数量超过上限",
	},
	[110] = {
		id = 110,
		macro = "ITEM_INDEX_INVALID",
		module = "item",
		tips = "道具位置不合法",
	},
	[111] = {
		id = 111,
		macro = "ITEM_INDEX_HOLD",
		module = "item",
		tips = "该位置已被占用",
	},
	[112] = {
		id = 112,
		macro = "ITEM_BAG_CFG_ERR",
		module = "item",
		tips = "背包配置错误",
	},
	[113] = {
		id = 113,
		macro = "ITEM_CFG_ERR",
		module = "item",
		tips = "道具配置错误",
	},
	[200] = {
		id = 200,
		macro = "LOGIN_NOT_INIT",
		module = "login",
		tips = "正在初始化",
	},
	[201] = {
		id = 201,
		macro = "LOGIN_SMS_INVALID",
		module = "login",
		tips = "请重新获取短信验证码",
	},
	[202] = {
		id = 202,
		macro = "LOGIN_SMS_TIMEOUT",
		module = "login",
		tips = "验证码超时",
	},
	[203] = {
		id = 203,
		macro = "LOGIN_SMS_NOT_MATCH",
		module = "login",
		tips = "验证码不匹配",
	},
	[204] = {
		id = 204,
		macro = "LOGIN_SMS_CFG_NO_GATEWAY",
		module = "login",
		tips = "未配置短信网关",
	},
	[205] = {
		id = 205,
		macro = "LOGIN_SMS_SEND_ERR",
		module = "login",
		tips = "短信发送失败",
	},
	[206] = {
		id = 206,
		macro = "LOGIN_NAME_USED",
		module = "login",
		tips = "名字已使用",
	},
	[207] = {
		id = 207,
		macro = "LOGIN_NAME_INVALID",
		module = "login",
		tips = "名字包含敏感字符",
	},
	[208] = {
		id = 208,
		macro = "LOGIN_CREATE_NO_PASS",
		module = "login",
		tips = "请输入密码",
	},
	[209] = {
		id = 209,
		macro = "LOGIN_VERIFY_PASS_FAIL",
		module = "login",
		tips = "密码错误",
	},
	[210] = {
		id = 210,
		macro = "LOGIN_DB_ERR",
		module = "login",
		tips = "数据库异常",
	},
	[211] = {
		id = 211,
		macro = "LOGIN_CREATE_VISTOR_FAIL",
		module = "login",
		tips = "访客帐号创建失败",
	},
	[212] = {
		id = 212,
		macro = "LOGIN_ACC_NOT_EXISTS",
		module = "login",
		tips = "帐号不存在",
	},
	[213] = {
		id = 213,
		macro = "LOGIN_SMS_TPL_ERR",
		module = "login",
		tips = "未配置短信模板",
	},
	[214] = {
		id = 214,
		macro = "LOGIN_SMS_SEND_FAIL",
		module = "login",
		tips = "短信发送失败",
	},
	[215] = {
		id = 215,
		macro = "LOGIN_PASSWD_ERR",
		module = "login",
		tips = "密码为8位以上字母或数字",
	},
	[216] = {
		id = 216,
		macro = "LOGIN_NOT_AVAILABLE_SERVER",
		module = "login",
		tips = "暂无可用的服务器",
	},
	[217] = {
		id = 217,
		macro = "LOGIN_SERVER_FORBID",
		module = "login",
		tips = "禁止登陆该服务器",
	},
	[300] = {
		id = 300,
		macro = "PLAYER_SMS_INVALID",
		module = "player",
		tips = "请重新获取短信验证码",
	},
	[301] = {
		id = 301,
		macro = "PLAYER_SMS_TIMEOUT",
		module = "player",
		tips = "验证码超时",
	},
	[302] = {
		id = 302,
		macro = "PLAYER_SMS_NOT_MATCH",
		module = "player",
		tips = "验证码不匹配",
	},
	[303] = {
		id = 303,
		macro = "PLAYER_SMS_CFG_NO_GATEWAY",
		module = "player",
		tips = "未配置短信网关",
	},
	[304] = {
		id = 304,
		macro = "PLAYER_SMS_SEND_ERR",
		module = "player",
		tips = "短信发送失败",
	},
	[305] = {
		id = 305,
		macro = "PLAYER_CFG_MISS",
		module = "player",
		tips = "配置错误",
	},
	[306] = {
		id = 306,
		macro = "PLAYER_CREATE_DB_ERR",
		module = "player",
		tips = "数据库异常，创角失败",
	},
	[307] = {
		id = 307,
		macro = "PLAYER_LOAD_DATA_FAIL",
		module = "player",
		tips = "加载玩家数据失败",
	},
	[308] = {
		id = 308,
		macro = "PLAYER_NOT_LOGIN",
		module = "player",
		tips = "请重新登录",
	},
	[309] = {
		id = 309,
		macro = "PLAYER_KEY_NOT_MATCH",
		module = "player",
		tips = "密钥不匹配",
	},
	[310] = {
		id = 310,
		macro = "PLAYER_BINDING_FAIL",
		module = "player",
		tips = "帐户绑定失败",
	},
	[311] = {
		id = 311,
		macro = "PLAYER_UPGRADE_MAERIAL_LACK",
		module = "player",
		tips = "材料不足",
	},
	[312] = {
		id = 312,
		macro = "PLAYER_SERVER_CLOSING",
		module = "player",
		tips = "正在关服，不能登录",
	},
	[313] = {
		id = 313,
		macro = "PLAYER_PROTO_PARAM_ERR",
		module = "player",
		tips = "协议参数错误",
	},
	[314] = {
		id = 314,
		macro = "PLAYER_SMS_TPL_ERR",
		module = "player",
		tips = "未配置短信模板",
	},
	[315] = {
		id = 315,
		macro = "PLAYER_SMS_SEND_FAIL",
		module = "player",
		tips = "短信发送失败",
	},
	[316] = {
		id = 316,
		macro = "PLAYER_NICK_NAME_INVALID",
		module = "player",
		tips = "昵称包含敏感字库",
	},
	[317] = {
		id = 317,
		macro = "PLAYER_NICK_NAME_LEN_ERR",
		module = "player",
		tips = "昵称长度在2~10个字符",
	},
	[350] = {
		id = 350, 
		macro = "SDK_HTTP_REQUEST_ERROR", 
		module = "sdk", 
		tips = "发送http请求错误", 
	}, 
	[351] = {
		id = 351, 
		macro = "SDK_TOKEN_AUTH_ERROR", 
		module = "sdk", 
		tips = "token 验证失败", 
	}, 
	[352] = {
		id = 352, 
		macro = "SDK_GET_PLAYER_INFO_ERROR", 
		module = "sdk", 
		tips = "获取玩家信息失败", 
	}, 
	[353] = {
		id = 353, 
		macro = "SDK_TOKEN_TIMEOUT", 
		module = "sdk", 
		tips = "sdk token已过期", 
	}, 
	[354] = {
		id = 354, 
		macro = "SDK_GET_PLAYER_INFO_FAIL", 
		module = "sdk", 
		tips = "获取玩家信息失败", 
	}, 
	[360] = {
		id = 360, 
		macro = "SERVER_MAINTAIN", 
		module = "login", 
		tips = "服务器维护中", 
	},
}
