return {
	[1] = { id = 1, name = "钻石", type = 1, overlap = 0, auto_use = nil, param = nil, can_trade = false, init_level = nil, max_level = nil, max_cnt = nil, attr_list = nil, },
	[2] = { id = 2, name = "黄金", type = 1, overlap = 0, auto_use = nil, param = nil, can_trade = false, init_level = nil, max_level = nil, max_cnt = nil, attr_list = nil, },
}
