-- key                              int                              key
-- auth_host                        string                           验证 host
-- auth_url                         string                           验证 url
-- baseinfo_host                    string                           获取用户 host
-- baseinfo_url                     string                           获取用户 url
-- authorization                    string                           授权信息
-- content_type                     string                           内容类型

return {
	[1] = {
		key = 1,
		auth_host = "woauth2.qkagame.com",
		auth_url = "/connect/introspect",
		baseinfo_host = "wopenapi.qkagame.com",
		baseinfo_url = "/openplatformplayercenter/api/Player/GetBaseInfo",
		authorization = "Basic Z2F0ZXdheToxMjM0NTY=",
		content_type = "application/x-www-form-urlencoded",
	},
}
