return {
	[1001001] = { id = 1001001, macro = "BUSI_MINE_DIG_GAIN1", remark = "荒野挖矿获得奖励：用户在荒野矿区通过挖矿获得的道具", },
	[1001002] = { id = 1001002, macro = "BUSI_MINE_DIG_GAIN2", remark = "高产挖矿获得奖励：用户在高产矿区通过挖矿获得的道具", },
	[1001003] = { id = 1001003, macro = "BUSI_MINE_DIG_GAIN3", remark = "黄金挖矿获得奖励：用户在黄金矿区通过挖矿获得的道具", },
	[1002001] = { id = 1002001, macro = "BUSI_BUY_SOIL_GIVE", remark = "商城购买所得:用户在矿区商城购买所得的道具", },
	[1002002] = { id = 1002002, macro = "BUSI_MINE_BUY_FREE", remark = "免费购得矿土:用户前1000吨荒原矿土免费购买所得", },
	[1101001] = { id = 1101001, macro = "BUSI_MINE_DIG_COST1", remark = "荒野挖矿消耗道具：用户在荒野矿区挖矿所消耗的资源", },
	[1101002] = { id = 1101002, macro = "BUSI_MINE_DIG_COST2", remark = "高产挖矿消耗道具：用户在高产矿区挖矿所消耗的资源", },
	[1101003] = { id = 1101003, macro = "BUSI_MINE_DIG_COST3", remark = "黄金挖矿消耗道具：用户在黄金矿区挖矿所消耗的资源", },
	[1102001] = { id = 1102001, macro = "BUSI_BUY_SOIL_PAY", remark = "商城购买消耗:用户在矿区商城购买消耗的道具", },
	[1202001] = { id = 1202001, macro = "BUSI_UOGRADE_MAINER_GIVE", remark = "矿车升级所得:用户矿车升级所得道具", },
	[1301001] = { id = 1301001, macro = "BUSI_UOGRADE_MAINER_PAY", remark = "矿车升级消耗:矿车升级消耗物品", },
	[1201001] = { id = 1201001, macro = "BUSI_NEW_ACC_GIVE", remark = "初始号赠送:用户注册账号时系统初始赠送的道具", },
	[1203001] = { id = 1203001, macro = "BUSI_BINDING_GIVE", remark = "实名认证获得奖励:用户完成实名认证获得奖励", },
	[1205001] = { id = 1205001, macro = "BUSI_SYSTEM_PACKAGE_GIVE", remark = "运营礼包发放:运营通过后台发放礼包", },
	[1401001] = { id = 1401001, macro = "BUSI_RECHARGE_GAIN", remark = "平台充值:用户充值获得道具", },
	[1206001] = { id = 1206001, macro = "BUSI_MALL_GIVE", remark = "商城购买所得:商城购买所得物品", },
	[1205002] = { id = 1205002, macro = "BUSI_MALL_ORDER_CANCLE_GIVE", remark = "审核撤销返还道具:订单审核未通过返还兑换消耗物品", },
	[1303001] = { id = 1303001, macro = "BUSI_MALL_ORDER_CANCLE", remark = "审核撤销扣除道具:订单审核未通过扣除兑换消耗物品", },
	[1302001] = { id = 1302001, macro = "BUSI_MALL_PAY", remark = "商城购买消耗:商城购买消耗物品", },
	[1501001] = { id = 1501001, macro = "BUSI_MALL_EXCHANGE_PAY", remark = "兑换扣除:用户进行兑换所消耗的物品", },
	[1501002] = { id = 1501002, macro = "BUSI_MALL_EXCHANGE_GIVE", remark = "兑换所得:用户兑换所得物品", },
	[1304001] = { id = 1304001, macro = "BUSI_TRADE_TAX_COST", remark = "交易服务费:市场交易收取的服务费用", },
	[1601001] = { id = 1601001, macro = "BUSI_TRADE_SELL_COST", remark = "市场商品上架：用户市场上架所扣除的道具", },
	[1601002] = { id = 1601002, macro = "BUSI_TRADE_SELLOFF_GAIN", remark = "商品手动下架：用户市场手动下架所得到的道具", },
	[1601003] = { id = 1601003, macro = "BUSI_TRADE_SELLOFF_TIMEOUT_GAIN", remark = "到期自动下架：市场商品道具自动下架所得到的道具", },
	[1601004] = { id = 1601004, macro = "BUSI_TRADE_SELLOFF_FORCE_GAIN", remark = "系统强制下架：系统强制下架所得到的道具", },
	[1601005] = { id = 1601005, macro = "BUSI_TRADE_SELL_GAIN", remark = "市场出售获得：用户市场上商品成功卖出后，获得道具", },
	[1601006] = { id = 1601006, macro = "BUSI_TRADE_BUY_COST", remark = "市场购买消耗：用户市场上购买商品所消耗的道具", },
	[1601007] = { id = 1601007, macro = "BUSI_TRADE_BUY_GAIN", remark = "市场购买获得：用户市场上购买所得商品道具", },
}
