root = "./"
thread = 2
logger = nil
harbor = 1
standalone = "0.0.0.0:5001"
master = "127.0.0.1:5001"
address = "127.0.0.1:2526"
start = "main"	-- main script
bootstrap = "snlua bootstrap"	-- The service for bootstrap
luaservice = "lua/?/?.lua;skynet/service/?.lua;lua/service/?.lua"
lualoader = "skynet/lualib/loader.lua"
snax = "lua/?/?.lua;lua/service/?.lua"
cpath = "skynet/cservice/?.so;clib/?.so"
-- daemon = "./skynet.pid"
lua_cpath = "skynet/luaclib/?.so;clib/?.so"
lua_path = "lua/lib/?.lua;lua/global/?.lua;?.config;?.lua;skynet/lualib/?.lua"
