return {
	[1] = { 
		id = 1, 
		harbor_type = "center", 
		server_id = 1, 
		login_port = 9510, 
		max_login_conn = 10240, 
		game_ip = "127.0.0.1", 
		game_port = 9500, 
		max_game_conn = 10240, 
		web_port = 9501, 
		gm_port = 9502, 
		debug_port = 9503, 
		harbor_listen_addr = "127.0.0.1:5001", 
		connect_harbor_addr = nil, 
		db_host = "127.0.0.1", 
		db_port = 3306, 
		db_name = "game_s1", 
		db_user = "root", 
		db_password = "123456", 
		db_max_packet = 1048576, 
		db_pool = 15, 
		},
}
