return {
	[101] = { id = 101, harbor_id = 1, name = "gameweb", is_snx = false, global_name = nil, stop_time = 100, },
	[102] = { id = 102, harbor_id = 1, name = "ctrlweb", is_snx = false, global_name = nil, stop_time = 100, },
	[103] = { id = 103, harbor_id = 1, name = "httpclient", is_snx = false, global_name = nil, stop_time = 100, },
	[104] = { id = 104, harbor_id = 1, name = "dbmgr", is_snx = false, global_name = nil, stop_time = 100, },
	[105] = { id = 105, harbor_id = 1, name = "login", is_snx = false, global_name = nil, stop_time = 100, },
	[106] = { id = 106, harbor_id = 1, name = "agentmgr", is_snx = false, global_name = nil, stop_time = 100, },
	[107] = { id = 107, harbor_id = 1, name = "agentmaker", is_snx = false, global_name = nil, stop_time = 100, },
}
